<h1>Welcome to Chitter</h1>

Current Peeps:
<ul>
  <% @tweets.each do |tweet| %>
    <li><a href="<%= tweet.text %>"><%= tweet.text %></a></li>
  <% end %>
</ul>

<div id="tweet-deck">
    <form action="/tweets" method="post">
      Chirp your thoughts? <input type="text" name="tweet">
      <input type="submit" value="peep">
    </form>
</div>