
<!DOCTYPE html>
<html>
<head>
	<title>Chitter</title>
  <link rel="stylesheet" type="text/css" href="/css/application.css">  
</head>
<body>
  <%= erb :header %>
  <%= erb :flash %>
  <%= yield %>
</body>
</html>