
<!DOCTYPE html>
<html>
<head>
	<title>Chitter</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/application.css">  
</head>
<body>
  <%= erb :header %>
  <%= erb :flash %>
  <%= yield %>
</body>
</html>